<app-side-bar></app-side-bar>
 <!-- ======= Resume Section ======= -->
 <section style="margin-left: 341px;" id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Rihab Zouaoui</h4>
            <p><em>Innovative and time-conscious web developer with a background in development websites,vedio games and apps.I acquired the versatility necessary for this type of environment.
              Autonomous in my position while enjoying teamwork
              </em></p>
            
          </div>
          <h3 class="resume-title">Education and Diploma</h3>
          <div class="resume-item">
            <h5>2020 - 2021</h5>
            <h4>Bachelor of Life and Earth Sciences</h4>
            <h5>2022 - 2023</h5>
            <p><em>Currently a student in the second year of information of technology (IT), specializing in the development of information systems at ISETNabeul</em></p>
           </div> 
           <div class="row">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

          <h3 class="resume-title">Skills</h3>
          <div class="resume-item">
            <h4>Language Skills</h4>
            
            <ul>
              <li>Français:Excellent</li>
              <li>English:very well</li>
              <li>Allemand:little bit</li>
              
            </ul>
            <h4>Technical Skills</h4>
        <h5>Programming Language</h5>
            <ul>
              <li>JavaScript</li>
              
              <li>Python</li>
              <li>Java</li>
              <li> Pascal</li>
              <li> C</li>
              <li> Php</li>
              <li> SQL</li>
              <li> Unreal Engine</li>
              <li> HTML/CSS</li>
            </ul>
            <h5>Modeling  Language</h5>
            <ul>
              <li>UML</li>
              
            </ul>
        <h5>Framworks</h5>
            <ul>
              <li>Angular</li>
              <li>Django</li>
              
              </ul>
          </div>
        </div>
      </div>
        
      </div>
      </div>


  